<div
  class="card p-2 rounded-sm h-full transition-all duration-300"
  [ngClass]="{
    'w-14': sideBarControl.collapsedSideBar(),
    'w-60': !sideBarControl.collapsedSideBar(),
  }"
>
  @if (sideBarControl.collapsedSideBar()) {
    <div class="flex flex-col gap-2 items-center">
      <p-button
        (click)="
          sideBarControl.collapsedSideBar.set(
            !sideBarControl.collapsedSideBar()
          )
        "
        icon="pi pi-cog"
        severity="secondary"
        class="shadow-sm"
      ></p-button>
      <p-button
        icon="pi pi-chart-bar"
        severity="secondary"
        class="shadow-sm"
      ></p-button>
      <p-button
        class="shadow-sm"
        severity="secondary"
        (click)="themeService.toggleDarkMode()"
        [icon]="'pi ' + (themeService.isDarkMode() ? 'pi-moon' : 'pi-sun')"
      >
      </p-button>
    </div>
  } @else {
    <p-button
      fluid="true"
      severity="secondary"
      (click)="
        sideBarControl.collapsedSideBar.set(!sideBarControl.collapsedSideBar())
      "
    >
      <div class="flex justify-between items-center w-full">
        <span>Configurator</span>
        <i class="pi pi-angle-double-left"></i>
      </div>
    </p-button>
  }
</div>
