<div class="p-4 flex flex-row gap-4 h-screen">
  <app-side-bar
    class="flex flex-row h-full"
    [hidden]="sideBarService.hideSideBar()"
  ></app-side-bar>
  <div class="flex flex-col gap-4 w-full h-full">
    <app-nav-bar></app-nav-bar>
    <div class="flex-1 flex flex-col lg:flex-row gap-4 min-h-0">
      <div class="w-full h-full flex flex-col min-h-0 rounded-sm">
        <div class="card flex-1 flex flex-col min-h-0 p-2 rounded-sm w-full overflow-x-scroll">
          <div class="flex items-center gap-2 mb-2">
            <p-button 
              severity="secondary"
              styleClass="shadow-sm"
              fluid="true"
              label="Group items"
              [size]="'small'"
            ></p-button>
          </div>
          <p-treeTable
            [value]="recipeTreeGenerator.recipeTreeTreeNode()"
            class="flex-1 min-h-0 p-treetable-sm"
            [showGridlines]="true"
            dataKey="key"
            [scrollable]="true" 
            scrollHeight="flex" 
            [scrollable]="true" 
            [tableStyle]="{'min-width':'50rem'}"
          >
            <ng-template #header>
              <tr>
                <th></th>
                <th>Item</th>
                <th>Amount</th>
                <th>Buildings</th>
                <th>Recipes</th>
                <th>Proliferator</th>
                <th>Belts</th>
                <th>Power</th>
              </tr>
            </ng-template>
            <ng-template
              #body
              let-rowNode
              let-rowData="rowData"
              [typedTemplate]="typedTree"
            >
              <tr [ttRow]="rowNode">
                <td>
                  <p-treetable-toggler
                    [rowNode]="rowNode"
                  ></p-treetable-toggler>
                </td>
                <td>
                  
                  <div class="flex justify-between items-center flex-nowrap">
                    <div
                      class="flex items-center justify-between w-full"
                      [pTooltip]="rowData.itemName"
                    >
                      <img
                        class="w-8 h-8"
                        [src]="rowData.iconPath + '.png'"
                        alt=""
                      />
                      <p-button
                        label="Make ore"
                        size="small"
                        fluid="false"
                        styleClass="shadow-md"
                        severity="secondary"
                      >
                      </p-button>
                    </div>
                  </div>
                </td>
                <td ttEditableColumn>
                  <p-treeTableCellEditor>
                    <ng-template pTemplate="input">
                      <input
                        fluid="true"
                        pInputText
                        [ngModel]="rowData.quantity"
                        (ngModelChange)="onQuantityChange(rowNode, $event)"
                      />
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{ rowData.quantity }}
                    </ng-template>
                  </p-treeTableCellEditor>
                </td>
                <td>
                  <div class="flex items-center gap-2 justify-center">
                    @if(rowData.recipe?.madeFromString) {
                      <img 
                      [src]="this.getBuildingIcon(rowData.recipe?.madeFromString) + '.png'" 
                      alt=""
                      class="w-8 h-8"
                      >
                    }
                  </div>
                </td>
                <td >
                  <div >
                    <div class="flex flex-col gap-1">
                      @for (
                        recipe of this.getRecipes(rowData.itemId) ?? [];
                        track recipe.ID
                      ) {
                        <div class="flex items-center gap-2">
                            <div class="flex gap-1">
                              @for (
                                iconPath of recipe.inputIcons;
                                track $index
                              ) {
                                <p-overlaybadge class="w-8 h-8" badgeSize="small" value="4" severity="info">
                                  <img
                                  [src]="iconPath + '.png'"
                                  class="w-8 h-8 shrink-0"
                                  />
                                </p-overlaybadge>
                              }
                            </div>
                            <i class="pi pi-arrow-right"></i>
                            <div class="flex gap-1">
                              @for (
                                iconPath of recipe.outputIcons;
                                track $index
                              ) {
                                <img
                                  [src]="iconPath + '.png'"
                                  class="w-8 h-8 shrink-0"
                                />
                              }
                            </div>
                        </div>
                      }
                    </div>
                  </div>
                </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </ng-template>
          </p-treeTable>
        </div>
      </div>
      <div class="lg:w-72 flex lg:flex-col gap-4">
        <div class="lg:h-1/2 h-52 w-full card rounded-sm p-2">
          <app-total-items></app-total-items>
        </div>
        <div class="lg:h-1/2 w-full card rounded-sm p-2">
          <app-total-buildings></app-total-buildings>
        </div>
      </div>
    </div>
  </div>
</div>
