<div class="p-2 card rounded-sm flex items-center justify-between">
  @if (sideBarControl.hideSideBar()) {
    <p-button
      (onClick)="
        sideBarControl.visibleDrawer.set(
          !sideBarControl.visibleDrawer()
        )
      "
      severity="secondary"
      icon="pi pi-bars"
      size="small"
      styleClass="shadow-sm"
    ></p-button>
  } @else {
    <div></div>
  }
  <div class="flex items-center gap-2">
    <p-button
      severity="secondary"
      size="small"
      icon="pi pi-wave-pulse"
      styleClass="shadow-sm"
      label="Quick Ratios"
    ></p-button>
    <p-button
      severity="secondary"
      icon="pi pi-home"
      size="small"
      styleClass="shadow-sm"
      label="Home"
    ></p-button>
  </div>
</div>
